*/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/
  
  /*body {
    width: 100vw;
    height: 100vh;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #181816, #515050);
    overflow-x: hidden;
  }
  **/
  .back {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 32, 32);
    text-decoration: none;
    color: #000;
  }
  
  .wrapper {
    width: 400px;
    height: auto;
    padding: 25px 7px;
    background-color: rgb(139, 132, 132);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 7px;
  }
  
  .wrapper .row {
    width: 80%;
    position: relative;
    margin: auto;
  }
  
  .wrapper h1 {
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
  }
  
  .wrapper input {
    width: 100%;
    padding: 0 40px 0 20px;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: #b9bac4;
    font-size: 16px;
  }
  
  .wrapper .toggle {
    position: relative;
  }
  
  .wrapper .toggle i {
    position: absolute;
    top: 4px;
    right: 15px;
    color: #778ca3;
  }
  
  .wrapper .form-control:last-child input {
    margin-bottom: 0;
   
  }
  
  .wrapper .btn {
    width: 100px;
    padding: 15px 0;
    border-radius: 7px;
    outline: none;
    border: none;
    color: rgb(179, 175, 175);
    background: #131416;
    transition: all 0.1s ease;
    cursor: pointer;
  }
  
  .wrapper .redirect {
    color: #000;
    cursor:pointer;
    text-decoration: none;
  }
  
  
  body{
    background-color: rgb(49, 44, 44);
  }
  
  header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  background-color: rgb(112, 113, 110);
  }
  
  /*.container{
    margin: 0 auto;
    width: 1100px;
    background-color: grey;
    height: 100vh;
  }
  */
  table{
    border-collapse: collapse;
    background-color: rgb(149, 158, 149);
  }
  
  td{
    text-align: center;
  }
  
  
  table, th, td{
    border: 3px solid black;
    padding: .5rem 3rem;
  }
  
  
  img{
    max-width: 200px;
  }
  
  h1{
    font-size: 3rem;
  }
  
  
  .contenedor-form
  {
    text-align : center;
    margin-top: 2vh;
  }
  
  
  .contenedor-loader
  {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  
  .contenedor-tabla
  {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  .alerrt{
    top:-53.95%;
    position:relative;  
    left: 10%;
  }